doctype

// 3day
// Copyright (C) Ian Kelly 2014

html(lang="en")

	head

		meta(charset='utf8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		//- twitter bootstrap css - used by angular-bootstrap component
		link(href='component/bootswatch/darkly/bootstrap.min.css', rel='stylesheet')
		//- main app css
		link(href='public/css/main.css', rel='stylesheet')

		base(href='/')
		title#hello 3DAY

		//- huwa project stlesheet
		//-link(rel='stylesheet', href='public/css/main.css')

		block head

	//- the body is the root element of the angular app
	//- ng-cloak prevents rendering until the ugly {{}} will not appear
	body(style, ng-app="3day", ng-cloak)

		block body

		//- bower installed components
		//- angular itself
		script(src='component/angular/angular.js')
		//- the router
		script(src='component/angular-ui-router/release/angular-ui-router.js')
		//- angular UI project - bootstrap
		script(src='component/angular-bootstrap/ui-bootstrap-tpls.js')
		//- angular local storage
		script(src='component/angular-local-storage/dist/angular-local-storage.min.js')
		//- base64 encoding
		script(src='component/angular-base64/angular-base64.min.js')
		//- infinite scrolling
		script(src='component/ngInfiniteScroll/build/ng-infinite-scroll.js')

		//- basic authentication
		script(src='component/angular-basicauth/angular-basicauth.js')

		//- our angular app files
		script(src='app/js/app.js')
		script(src='app/js/login.js')
		script(src='app/js/services/report.js')
		script(src='app/js/services/timeline.js')
